{##
 # @var \yii\web\View this
 # @var array models
 #}
{%- for email_item in models -%}
    <a href="mailto:{{ email_item.email }}" class="mail">
        <i class="far fa-envelope"></i>
        {{ email_item.email }}
    </a>
{%- endfor -%}
