{##
 # @var \yii\web\View this
 # @var array language_items
 #}
<li data-toggle="tooltip" data-placement="bottom" class="entering-list__item entering-list__language">
    <a id="dropdownMoney"
       href="#"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false"
       class="entering-list__link"
    >
        <i class="fa fa-flag"></i>
    </a>
    <div aria-labelledby="dropdownMoney" class="dropdown-menu dropdown-menuTopEnter dropdown-menuLanguages">
        {% for language_item in  language_items %}
            {% if(language_item.active) %}
                <span class="dropdown-item">{{ language_item['label'] }}</span>
            {% else %}
                <a href="{{ language_item['url'] }}" class="dropdown-item">{{ language_item['label'] }}</a>
            {% endif %}
        {% endfor %}
    </div>
</li>
