{##
 # @var \yii\web\View this
 # @var array models
 #}
<ul class="top-list">
    {%- for model in models -%}
        <li class="top-list__item {{ loop.first ? 'i-phone-footer' : '' }}">
            <a href="tel:{{ model.phone }}" class="top-list__link">{{ model.label }}</a>
        </li>
    {%- endfor -%}
</ul>
