{##
 # @var this \yii\web\View
 #}
<ul class="working-time">
    {% for line in models %}
        <li class="working-time__item  {{ loop.first ? 'i-clock' : '' }}">{{ line }}</li>
    {% endfor %}
</ul>
